strict-peer-dependencies = true
sentrycli_cdnurl = https://registry.npmmirror.com/-/binary/sentry-cli/
# registry = https://registry.npmmirror.com/
# 淘宝源部分库偶尔同步失败，与腾讯源切换使用
# registry = https://mirrors.cloud.tencent.com/npm
registry = https://registry.npmmirror.com
puppeteer_download_host = https://npmmirror.com/mirrors